
.Login {

      width: 360px;
      height: 640px;
      padding: 0 0 184px;
  
  }

.img.Logo_FutureEats_invert {


     width: 104px;
      height: 58px;
      margin: 68px 128px 16px;
      object-fit: contain;
  
  }

  .Text {

      width: 296px;
      height: 18px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.39px;
      text-align: center;
      color: #000;
  
  }